<div id="content_calc">
	<div class="calc_box">
		<div class="left_box">
			<%= form_for "summ", :url=>summa_path,  :multipart => true, :remote=>true do |f| %>
			<div class="item">
				<%= select("education", "education_id", Education.all.collect {|p| [ p.title, p.id ] }, {:prompt => 'Выберите вид образования'}) %>
			</div>
			<div class="item">
				<h3>Факультет</h3>
				<div class="faculty">
					<% @facultys.each do |f|%>				
						<%= radio_button_tag 'faculty', f.id %>&nbsp;
						<label><%= f.title %></label>
						<br/>
					<% end %>
				</div>
			</div>
			<div class="item">
				<%= select("form", "form_id", Form.all.collect {|p| [ p.title, p.id ] }, {:prompt => 'Форма обучения'}) %>
			</div>
			<div class="item">
				<%= select("bakalavriat", "bakalavriat_id", Bakalavriat.all.collect {|p| [ p.title, p.id ] },{:prompt=>"Укажите направление"}) %>
			</div>	
			<div class="item">
				<%= select("course", "course_id", Course.all.collect {|p| [ p.title, p.id ] }, {:prompt => 'Укажите курс'}) %>
			</div>
			<div class="button">
				<%= f.submit "Расчитать"%>
			</div>
			
					
			
			<% end %>
		</div>
		<div class="right_box">
			<div id ="itog"></div>	
			<div class="logs">
				
			</div>
		</div>
		<div class="clear"></div>

	</div>
</div>
